.box1{
  height: 400px;
  background-color: #bcc0c6;
}
.box2{
  height: 400px;
  background-color: black;
  border-top-width: 0.5px;
  border-top-color: white;
}
.box3{
  height: 400px;
}
.box5{
  background-color: #bcc0c6;
}
img{
  width: 350px;
  height: 262px;
}
.pic1{
  margin-top: 50px;
  margin-right: 160px;
  float: right;
}
.pic2{
  margin-top: 50px;
  margin-left: 160px;
  float: left;
}
.name{
  color:white;
  padding-top: 15px;
  font-size: 30px;
  font-family: 'Teko', sans-serif;
}
.name1{
  color:black;
  padding-top: 15px;
  font-size: 30px;
  font-family: 'Teko', sans-serif;
}
body{
  text-align: center;
}
.textcentered{
  color: white;
  width: 900px;
  text-align: left;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  margin: 0 auto;
}
.textcentered2{
  color: black;
  width: 900px;
  text-align: left;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-indent: 28%;
}
.textcentered3{
  color: white;
  width: 900px;
  text-align: left;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-indent: 9%;
}
.button{
  text-align: center;
  font-size: 18px;
  padding:6px;
  background-color: white;
  border-radius: 15px;
}
.button2{
  text-align: center;
  font-size: 18px;
  padding:6px;
  background-color: black;
  border-radius: 15px;
}
.textcentered1{
  text-align: center;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}
nav{
  padding-top: 18px;
}
ul li{
  display: block;
}
.box4{
  height: 200px;
  margin-top: 100px;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
}
#menu {
  position: fixed;
  right: 0;
  top: 40%;
  width: 5em;
  margin-top: -2.5em;
  background-color: #343e4f;
  height: 250px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 30px;
  text-align: right;
  padding-right: 15px;
}
a{
  text-decoration: none;
  color: #878d96;
}
.list1{
  padding-left: 250px;
  float: left;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}
.list2{
  padding-right: 250px;
  float: right;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
}
.button2:hover{
  background-color:#dcdee2;
}
.button:hover{
  background-color:#c8cbd1;
}
a:hover{
  color: #6082bc;
}
a:active{
  color: #284577;
}